body {
    background-color: #eff0f3!important;
}

.container {
    margin-top: 50px;
    width: 25%!important;
}

form {
    background: #2fcc9a;
    border: 2px solid #228e6c;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
}

#task {
    width: 75%;
    float: left;
    margin-right: 5%;
}

ul {
    padding: 0 10px!important;
}

ul li {
    list-style: none;
    padding: 15px;
    margin-bottom: 10px;
    background: #fcfcfc;
    border: 1px solid silver;
    border-radius: 5px;
  }

  ul li:hover {
    background: #e5e5e5;
  }

  ul li button {
    border: 0;
    padding: 5px 15px;
    color: white;
    font-size: 13px;
    background: #db5757;
    position: relative;
    vertical-align: middle;
    border-radius: 5px;
    float: right;
  }
  
  ul li button:hover {
    background: #a04141;
  }

  h1 {
    text-align: center;
  }